pyarrow #will soon become a required dependency of pandas. really useful as you can save large dataframes as .parquet files which are
#much smaller than csv files and much faster to load, I have seen about 10x in both size and speed.
pandas
numpy
matplotlib
seaborn
openai
tiktoken
evaluate
jiwer
python-dotenv
jellyfish
scikit-learn
pyPDF2
mistralai
tenacity
litellm
markdown-it-py[plugins]
mdit-plain
cleanlab
lightning_sdk
transformers 
marimo
nervaluate #for evaluating the NER